<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936929335124-jbdur6ko914ejob78h6v4dmd9g2f0c5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936929335124-jbdur6ko914ejob78h6v4dmd9g2f0c5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAxRIiBDjN4589Cy4YEIvZv_cMoptcHmQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>936929335124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SeanCho.Firebase101</string>
	<key>PROJECT_ID</key>
	<string>fir-101-4eee0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-101-4eee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936929335124:ios:84da8d6346004fd13a9ac1</string>
</dict>
</plist>